.modal-backdrop,
.modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.modal-backdrop {
    background: rgba(0, 0, 0, 0.25);
}

.modal-dialog {
    z-index: 4;
    overflow: auto;
    padding: 40px 0;
}

.modal-widget {
    &::before,
    &::after {
        content: "";
        display: block;
        clear: both;
    }

    margin: 0 auto;
    width: 800px;

    &.large {
        width: 1200px;
    }

    &.small {
        width: 600px;
    }

    &.x-small {
        width: 300px;
    }
}

.modal-common {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 4px;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);

    .mc-title {
        position: relative;
        border-radius: 0;
        border: 1px solid #4297d7;
        background: #5c9ccc;
        padding: 12px 10px;

        div {
            display: inline-block;
            color: #fff !important;
            font-size: 16px;
            font-weight: bold;
        }

        button {
            cursor: pointer;
            border: 1px solid #c5dbec;
            background: #dfeffc;
            font-weight: bold;
            color: #2e6e9e;
            outline: none;

            position: absolute;
            top: 9px;
            right: 10px;
            padding: 4px 10px;
            border-radius: 4px;
        }
    }

    .mc-body {
        padding: 10px;
    }
}
