@import "./layout.scss";

#content {
    @include clearFix;
    float: left;
    width: 100%;
    margin: 10px 0;

    #main {
        @include clearFix;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    & * {
        box-sizing: border-box;
    }

    #app {
        @include clearFix;
        margin: 0;
        padding: 12px;
    }
}

.header {
    display: block;
    @include clearFix;

    .second-row {
        float: left;
        margin-top: 15px;
    }
}

@mixin error() {
    .error {
        float: left;
        color: #f00;
        font-size: 12px;
        margin-top: 3px;
    }
}

.form-row {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0px;
    }

    [class^="col-"],
    [class*=" col-"],
    .form-group {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.form-group {
    float: left;

    input,
    select,
    textarea {
        float: left;
        width: 100%;
        margin: 0;
        padding: 4px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    select option:first {
        color: #999;
    }

    label {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0 0 3px;
        font-size: 0.8em;
        font-weight: bold;
    }

    input[type="radio"],
    input[type="checkbox"] {
        width: auto;
    }

    label.radio-box,
    label.check-box {
        clear: none;
        font-weight: normal;
        position: relative;
        padding-left: 18px;
        padding-right: 15px;

        &:last-child {
            padding-right: 0;
        }

        &.at-header {
            width: auto;
            margin: 5px 0 0;
            cursor: pointer;
        }

        input {
            position: absolute;
            left: 0;
            top: 1px;
        }

        &.active {
            font-weight: bold;
        }
    }

    @include error;
}

.toggle-radio {
    display: table;
    width: 200px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #bbb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    & > label {
        cursor: pointer;
        float: none;
        display: table-cell;
        width: auto;
        vertical-align: middle;
        padding: 6px 7px;
        text-align: center;

        &:first-child {
            border-right: 1px solid #bbb;
        }

        &.active {
            background: #2daebf;
            color: #fff;
            border-color: #2daebf !important;
        }

        &.half-size {
            width: 50%;
        }
    }
}

.modal-common {
    .mc-title {
        position: relative;
        border-radius: 0;
        border: 1px solid #4297d7;
        background: #5c9ccc;
        padding: 14px 15px;

        div {
            display: block;
            color: #fff !important;
            font-size: 16px;
        }
    }

    .mc-body {
        &::before,
        &::after {
            content: "";
            clear: both;
            display: block;
        }

        position: relative;
        padding: 14px 15px;
    }

    .mc-footer {
        &::before,
        &::after {
            content: "";
            clear: both;
            display: block;
        }

        padding: 14px 15px;
        border-top: 1px solid #bbb;
    }
}

/* Button CSS */
.new-btn {
    cursor: pointer;
    border: 1px solid #80e7f5;
    background: #2daebf;
    font-weight: normal;
    color: #fff;
    outline: none;

    padding: 6px 12px;
    border-radius: 4px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-in-out;

    &:hover {
        background: #187b88;
        border-color: #2daebf;
    }

    &.cancel {
        background: #b80900;
        border-color: #ff4b4b;

        &:hover {
            background: #8a0f09;
            border-color: #b80900;
        }
    }

    &.disabled,
    &:disabled {
        border-color: #ddd;
        background: #ebebeb;
        color: #aaa;
        cursor: not-allowed;
    }
}

/* Tabular Layout */
.table-layout {
    table {
        width: 100%;
        table-layout: fixed;
        margin: 0 !important;
        border: 0px;

        th {
            text-align: left;
            background: #bcd0dd;
            border-color: rgb(202, 222, 236);
            vertical-align: top;
        }

        .check {
            width: 30px;
        }

        td {
            border-color: #bbb;
            vertical-align: top;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        tr {
            &.error-row {
                background: #b80900;

                td {
                    padding: 5px;
                    color: #fff;
                    border-color: #b80900;
                }
            }

            &.has-error {
                background: #ffe6e6;
            }
        }

        tfoot tr {
            td {
                font-weight: bold;
                border: 0;

                &.with-bg {
                    background: rgb(255, 218, 116);
                    border: 1px solid rgb(212, 179, 88);
                }
            }
        }
    }

    &.inside-modal {
        table th {
            border-color: #bbb;
            background: #ebebeb;
        }
        table tfoot tr td.with-bg {
            background: aliceblue;
        }
    }

    input,
    textarea {
        width: 100%;
        padding: 4px 5px;
        border: 1px solid #ccc;
        margin: 0;
    }
}
