@mixin clearFix {
    &::before,
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

body.modal-open {
    overflow: hidden;
}

@for $i from 0 through 50 {
    .mtop-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mleft-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mbottom-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .mright-#{$i} {
        margin-right: #{$i}px !important;
    }

    .nmtop-#{$i} {
        margin-top: -#{$i}px !important;
    }
    .nmleft-#{$i} {
        margin-left: -#{$i}px !important;
    }
    .nmbottom-#{$i} {
        margin-bottom: -#{$i}px !important;
    }
    .nmright-#{$i} {
        margin-right: -#{$i}px !important;
    }

    .ptop-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pleft-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pbottom-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pright-#{$i} {
        padding-right: #{$i}px !important;
    }
}
.hidden {
    display: none !important;
}

.row {
    margin: 0 -15px;
    @include clearFix;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        float: left;
        width: (100/12) * $i#{"%!important"};
        padding-left: 15px;
        padding-right: 15px;
    }
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.red-text {
    color: #f00;
}

.button {
    margin: 0;
    min-width: 80px;
    padding: 5px;
}

.pagination-container {
    padding-top: 10px;

    .page-count {
        float: left;
        color: #1e1e1e;
        font-size: 13px;
        padding-top: 6px;
        padding-right: 10px;
    }
}

ul.pagination {
    float: left;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: 0;

    li.p-item {
        display: inline-block;

        a {
            display: inline-block;
            padding: 5px 8px;
            border-left: 1px solid #bbb;
            font-size: 13px;
            line-height: 16px;
            text-decoration: none;
            color: #000;

            &:hover {
                background: #ddd;
            }
        }

        &:first-child a {
            border-width: 0;
        }

        &.p-prev,
        &.p-next {
            font-size: 11px;
        }

        &.active {
            a,
            a:hover {
                color: #fff;
                background: #4297d7;
            }
        }

        &.p-disabled {
            a,
            a:hover {
                background: transparent;
                color: #ddd;
                cursor: text;
                text-decoration: none;
            }
        }
    }
}
